.button-table {
    float: left;
    margin-right: 3%;
}
.categories-progres{
    clear: both;
    padding-right: 15%;
    margin-top: 17%;
  }
  .limitCat {
      clear: both;
      margin-top: 1%;
      margin-bottom: 5%;
      font-size: 25px;
  }
  .grey{
      color: grey;
  }
  .green{
    color: green;
}
.red{
    color: red;
}
.limit {
    float: left;
    margin-left: 10%;
    margin-top: 14%;
    font-size: 35px;
  }